html,body
{
    width: 100%;
    height: 100%;
    background: black;

}



.container
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1.8fr 2fr .8fr;
    grid-gap: 2px;

}


.section-1
{
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-gap: 3px;
}



#logo>img
{
    height: 70px;

}

#slogan
{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Contrail One";
    align-items: center;
}

#slogan>p:nth-child(1)
{
    text-transform: uppercase;
    font-size: 30px;
}

#slogan>p:nth-child(2), #slogan>p:nth-child(3)
{
    font-size: 18px;
}

#slogan>p:nth-child(4)
{
    font-size: 12px;
    position: relative;
    bottom: -40px;
}

.button-section
{
    display: flex;
    justify-content: center;
    
}

#button>a
{
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    position: relative;
    font-family: "Orbitron";
    color: #03fcf4;
}

#button:hover a
{
    color: black;
    transition: 0.5s 2s;
}

#button
{
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

#button:hover
{
    background: #03fcf4;
    box-shadow: 5px 5px 20px 10px #03fcf4;
    border-radius: 4px;
    transition: 0.5s 2s;
}

a>span
{
    position: absolute;

}

a>#a
{
    width: 150px;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03fcf4);
    left: -190px;
      
}

#button:hover #a
{
    left: 150px;
    transition: .8s;
}

a>#d
{
    width: 3px;
    height: 40px;
    background: linear-gradient(200deg, transparent, #03fcf4);
    right: -20px;
    top: -45px;
}

#button:hover #d
{
    top: 40px;
    transition: 0.5s 0.5s;
}


a>#b
{
    width: 150px;
    height: 3px;
    background: linear-gradient(200deg, transparent, #03fcf4);
    bottom: 0px;
    right: -190px;
}

#button:hover #b
{
    right: 150px;
    transition: 0.5s 1s;

}

a>#c
{
    width: 3px;
    height: 40px;
    background: linear-gradient(330deg, transparent, #03fcf4);
    left: -22px;
    bottom: -50px;
}

#button:hover #c
{
    bottom: 50px;
    transition: 0.5s 1.5s;
}


.section-2
{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#harry
{
    
    width: 310px;
    height: 120px;
    grid-row: 3/9;
    grid-column: 2/15;
}

#john
{
    width: 140px;
    height: 185px;
    grid-row: 8/15;
    grid-column: 2/9;
    position: relative;
    top: -15px;

}

#batman
{
    width: 160px;
    height: 215px;
    grid-row: 8/16;
    grid-column: 8/15;
    position: relative;
    top: -15px;
    left: -8px;
}

#showshank
{
    width: 140px;
    height: 150px;
    grid-column: 2/7;
    grid-row: 14/20;
    position: relative;
    bottom: -8px;
}

#james
{
    width: 160px;
    grid-row: 16/21;
    grid-column: 8/15;
    position: relative;
    left: -8px;
    top: -20px;

}

#jack
{
    width: 135px;
    height: 210px;
    grid-column: 14/21;
    grid-row: 4/15;
    position: relative;
    top: -2px;
    right: -5px;

}

#avengers
{
    width: 135px;
    height: 210px;
    grid-column: 14/21;
    grid-row: 12/20;
    margin-top: 10px;
    position: relative;
    top: -22px;
    right: -5px;
    
}

.section-2>img
{
    border: 3px solid red;
}

#harry:hover, #john:hover, #batman:hover,
#showshank:hover, #james:hover, #jack:hover, #avengers:hover

{
    transform: scale(1.1,1.2);
    z-index: 100;
    transition: transform 0.8s;
    border: green solid 5px;
}

#harry, #john, #batman, #showshank, #james, #jack, #avengers
{
    transform: scale(1, 1);
    transition: transform 0.7s ;

}

.section-3
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.section-3>span
{
    color: white;
    margin-top: 10px;
    opacity: 0;
}

.section-3>img
{
    position: relative;
    left: -30px;
}

#whatsapp-ico, #whatsapp-no
{
    position: relative;
    top: -100px;
}

#twitter-ico, #twitter-id
{
    position: relative;
    top: -75px;
}

#gmail-ico, #gmail-id1, #gmail-id2
{
    position: relative;
    top: -30px;
}

#whatsapp-no, #twitter-id, #phone-no
{
    font-size: 13px;
    position: relative;
    right: -80px;
}

#gmail-id1, #gmail-id2
{
    font-size: 13px;
    position: relative;
    right: -170px;

}