<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
    </head>

    <body> 
        <div class="container">
            <div class="section-1">
                <div id="logo">
                    <img src="../static/images/logo.png">
                </div>
                <div id="slogan">
                    <p>the movie recommender engine</p>
                    <p>we know you love movies, we too !...</p>
                    <p>we will reccomemd you good movies to watch</p>
                    <p>click below to search movies</p>
                </div>
                <div class="button-section">
                    <div id="button">
                        <a href="page1" target="_blank">search
                        <span id="a"></span>
                        <span id="b"></span>
                        <span id="c"></span>
                        <span id="d"></span>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="section-2">
                <img id="harry" src="../static/images/harry_potter.jpg" alt="">
                <img id="john" src="../static/images/John Wick (2014) (1).jpg" alt="">
                <img id="batman" src="../static/images/batman.jpg" alt="">
                <img id="showshank" src="../static/images/Shawshank Redemption 1994.jpg" alt="">
                <img id="james" src="../static/images/james_bond.jpg" alt="">
                <img id="jack" src="../static/images/jack_reacher.jpg" alt="">
                <img id="avengers" src="../static/images/avengers.jpg" alt="">
            </div>

            <div class="section-3">
                <img id="whatsapp-ico" src="../static/images/whattsapp.png" alt="" width="55px">
                <span id="whatsapp-no">9656940864</span>
                <img id="twitter-ico" src="../static/images/twitter.png" alt="" width="50px">
                <span id="twitter-id">jimmykottaram</span>
                <img id=  "gmail-ico" src="../static/images/gmail.png" alt="" width="50px">
                <span id="gmail-id1">jimmymathew5989@gmail.com</span>
                <span id="gmail-id2">jimmymathew2010@gmail.com</span>
                <img id="phone-ico" src="../static/images/phone2.png" alt="" width="50px">
                <span id="phone-no">9946015263</span>
            </div>
        </div>
    </body>
   
    <script src="../static/home.js"></script>
</html>  