<!DOCTYPE html>
<html>
    <head>
        <script src="../static/page1.js"></script>
        <link rel="stylesheet" href="../static/page1.css">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <p id="archive">sorry couldn'nt find the movie in our archives</p>
            <div class="form">
                <form action="page1" method="post" onsubmit="return validate()">
                    <input id="search-box" type="text" name="movie_name" placeholder="Enter movie name...">
                    <input id="search-button" type="submit" value="search">
                    <br>
                    <img id="loading-gif" src="../static/images/loading_gif2.gif">
                </form>
            </div>
            <p id="wrong-name">its not a valid movie name, check the spelling</p>
            <div class="movie-data">
                <table>
                    <tr id="row1">
                        <th id="col-1">movie name</th>
                        <th id="col-2">imdb rating</th>
                        <th id="col-3">movie poster</th>
                        <th id="col-4" style="left: -50px;">download link</th>
                    </tr>
                    <tr class="a">
                        <td id="a1"></td>
                        <td id="a2"></td>
                        <td> <img id="a3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="a4" href="" target="_blank">download</a> </td>
                    </tr>
                    <tr class="b">
                        <td id="b1"></td>
                        <td id="b2"></td>
                        <td> <img id="b3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="b4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="c">
                        <td id="c1"></td>
                        <td id="c2"></td>
                        <td> <img id="c3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="c4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="d">
                        <td id="d1"></td>
                        <td id="d2"></td>
                        <td> <img id="d3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="d5" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="e">
                        <td id="e1"></td>
                        <td id="e2"></td>
                        <td> <img id="e3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="e4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="f">
                        <td id="f1"></td>
                        <td id="f2"></td>
                        <td> <img id="f3" src=""></td>
                        <td> <a id="f4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="g">
                        <td id="g1"></td>
                        <td id="g2"></td>
                        <td> <img id="g3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="g4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="h">
                        <td id="h1"></td>
                        <td id="h2"></td>
                        <td> <img id="h3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="h4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="i">
                        <td id="i1"></td>
                        <td id="i2"></td>
                        <td> <img id="i3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="i4" href="#" target="_blank">download</a> </td>
                    </tr>
                    <tr class="j">
                        <td id="j1"></td>
                        <td id="j2"></td>
                        <td> <img id="j3" src="" onerror=this.src="../static/images/img_not_available.png"></td>
                        <td> <a id="j4" href="#" target="_blank">download</a> </td>
                    </tr>
                </table>
            </div>
        </div>

        <script>
            var a = {{data | safe}}
            if(a.status == "not_found")
            {
                document.getElementById("archive").style.opacity = "1"
            }
            else
            {
                document.getElementById("archive").style.opacity = "0"
            }
        </script>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        if(a.status == "found")
        {
            $("#search-button, #search-box, #wrong-name, #loading-gif").animate({
                top: "-170px"
            }, function(){
                 $(".movie-data").css("opacity", "1")
            })

            $("#archive").animate({
               top: "90px"
            })

              for(var i=0; i<=9; i++)
            {
                    var id = String.fromCharCode(97+i)
                    document.getElementById(id+1).innerHTML = a.movie_name[i]
                    document.getElementById(id+2).innerHTML = a.imdb_rating[i]
                    $("#"+id+3).attr("src", a.thumbnail_link[i])
                    $("#"+id+4).attr("href", a.download_link[i])

            }

         }
    </script>


</html>